<content has-header="true" has-footer="true">

  <div class="list card">
    <h5>Merci de vous connecter pour accéder à votre Vinibar</h5>
  </div>

  <form name="form" novalidate>        
          <div class="list">
          <div class="alert alert-error" ng-show="authError">
            {{authError}}
          </div>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <input name="login" type="email" ng-model="user.email" required placeholder="John">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Mot de Passe</span>
              <input name="pass" type="password" ng-model="user.password" required placeholder="Cabernet Sauvage">
            </label>
          </div>

          <div id="validatecontainer">
            <button class="button button-positive" ng-click="login()" ng-disabled='form.$invalid'>Se connecter</button>
          </div>
  </form>
</content>