<nav-page title="mytitle" id="Vinify" right-buttons="rightButtons" hide-back-button="true">
	<content has-header="true" has-footer="true" overflow-scroll="true">
		<div class="list card">

			<div class="item">
				<h2>
				Contact <span class="item-note">Des questions ?</span>
				</h2>
			</div>
		 

			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="tel:+33651177007">
				  <i class="icon ion-ios7-telephone"></i>
				</a>
				<a class="tab-item" href="http://www.facebook.com/vinify.co" target="_blank">
				  <i class="icon ion-social-facebook"></i>
				</a>
				<a class="tab-item" href="https://twitter.com/vinifyco" target="_blank">
				 <i class="icon ion-social-twitter"></i>
				</a>
				<a class="tab-item" href="mailto:antoine@vinify.co" target="_blank">
				 <i class="icon ion-ios7-email"></i>
				</a>
			</div>

			<div class="item item-body">	
				<img class="full-image" src="images/vinifytailleur.jpg">
			</div>

			<div class="item item-text-wrap">		   
			  Vinify est là pour vous. <br> Contactez-nous pour toute demande, feedback ou question, nous serons heureux de vous répondre.
			</div>

		</div>

	</content>
</nav-page>