<content has-header="true" has-footer="true" overflow-scroll="true">
	<div class="list card">

		<div class="item">
		     <h2>
		     Contact <span class="item-note">Des questions ? Une requête spéciale ?</span>
		     </h2>
     	</div>
	 

<!-- 	  <div class="item">
	    <h2>Contact</h2>
	    <p>Une question ? Une requête spéciale ?</p>
	  </div>
 -->
	  <div class="item item-body">
	  	<div class="row row-center">

	  		<div class="col">
	  			    <img class="full-image" src="../images/vinifytailleur.jpg">
		    </div>

	  		<div class="col col-20" id="social">
	  			   <a class="tab-item" href="tel:+33102030405">
	  			      <img src="../images/phone-icon.png">
	  			    </a>
	  			    <a class="tab-item" href="http://www.facebook.com/vinify.co" target="_blank">
	  			      <img src="../images/fb-icon.png">
	  			    </a>
	  			    <a class="tab-item" href="https://twitter.com/vinifyco" target="_blank">
	  			     <img src="../images/twitter-icon.png">
	  			    </a>
	  			    <a class="tab-item" href="mailto:antoine@vinify.co" target="_blank">
	  			     <img src="../images/mail-icon.png">
	  			    </a>
  		     </div>
	    </div>

	  </div>

	   <div class="item item-text-wrap">		   
	      Vinify est là pour vous. Appelez-nous ou envoyez nous un mail pour toute demande, feedback ou question, nous serons heureux de vous répondre.
	      Suivez-nous sur les réseaux sociaux !
	    </div>

	  

	</div>
</content>