<nav-page title="mytitle" id="Vinify" right-buttons="rightButtons" hide-back-button="true">
	<content has-header="true" has-footer="true" overflow-scroll="true">
		<div class="list card">

			<div class="item">
				<h2>
				Contact <span class="item-note">Des questions ?</span>
				</h2>
			</div>
		 

			<div class="item">
				<p><i class="icon ion-ios7-telephone"> +33 6 51 17 70 07 </i></p>
				<p><i class="icon ion-ios7-email"> lespionniers@vinify.co</i></p>
			</div>

			<div class="item item-body">	
				<img class="full-image" src="images/vinifytailleur.jpg">
			</div>

			<div class="item item-text-wrap">		   
			  Vinify est là pour vous. <br> Contactez-nous pour toute demande, feedback ou question, nous serons heureux de vous répondre.
			</div>

		</div>

	</content>
</nav-page>