<!-- <div class="loginbckg">
	<div class="container col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset3 col-sm-offset-3">
		<form name="form" novalidate class="login-form">

		    <div class="login-body">
		        <div class="alert alert-warning" ng-show="authReason">
		            {{authReason}}
		        </div>
		        <div class="alert alert-error" ng-show="authError">
		            {{authError}}
		        </div>
		        <div id="login-header"><h4>Merci de vous identifier pour accéder à votre vinibar</h4><br></div>
		        <label>E-mail :</label><br>
		        <input name="login" type="email" ng-model="user.email" required autofocus><br><br>	
		        <label>Password :</label><br>
		        <input name="pass" type="password" ng-model="user.password" required><br>
		    </div>
		    <div class="login-footer">
		        <button class="btn btn-primary login" ng-click="login()" ng-disabled='form.$invalid'>Connexion</button>
		    </div>
		</form>
	</div>
</div> -->

<content has-header="true" has-footer="true">

	<div class="card">
	  <div class="item item-text-wrap">
	    Merci de vous connecter pour accéder à votre Vinibar. Vous trouverez vos identifiants sur la carte qui accompagne votre Vinibar.
	  </div>
	</div>

	<login-toolbar></login-toolbar>

<!-- 	<div class="list list-inset">
	  <label class="item item-input">
	    <input type="text" placeholder="Email">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Password">
	  </label>
	</div>

	<div class="row">
	  <div class="col col-50 col-offset-25">
	  	<button class="button button-outline button-positive">
	  		Se connecter
		</button>
	  </div>
	</div> -->
	
</content>