<nav-page title="mytitle">
	<content has-header="true" has-footer="false" scroll="true"  ng-controller="WineRatingCtrl">


		<div class="list card">

			  <div class="item item-avatar">
			  <img src="images/castle.svg">
			    <h2>{{BOTTLES[id].wine.display_name}}</h2>
			    <p>{{BOTTLES[id].wine.region}}</p>
			  </div>

			  <div class="item item-body" ng-controller="WineRatingCtrl">
			    <form name="ratingform">
			      <h3>La note que je donne à ce vin : <span class="badge badge-Rouge">{{B[1]}}/5</h3>
				    <div class="range range-positive">
					  <i class="fa fa-heart-o" id="minus"></i>
					  	<input type="range" ng-name="rating" max="4" min="1" step="1" ng-model="B[1]">
					  <i class="fa fa-heart" id="max" scope="" onload=""></i>
					</div>

					<h3>Mon commentaire libre:</h3>
					<input type="text" ng-name="commentaire" placeholder="J'ai aimé ce vin car il équilibré, avec une pointe d'acidité intéressante"ng-model="B[2]">

					<label class="checkbox">
       					<input type="checkbox" ng-name="oneagain" ng-model="B[3]" id="check">
       					J'aimerais revoir un jour ce vin dans mon Vinibar (cocher si oui)
     				</label>


     				<div id="validatecontainer">
					    <button class="button button-positive" ng-click="PostComment()">Je note ce vin !
					    </button>
	  				</div>

				</form>
			   
			  </div>  
		</div>
			
		

	</content>
</nav-page>	