<nav-page title="mytitle">
	<content has-header="true" has-footer="false" scroll="true"  ng-controller="WineRatingCtrl">


		<div class="list card">

			  <div class="item item-avatar">
			  <img src="static/images/castle.svg">
			    <h2>{{WINES[id].domaine}}</h2>
			    <p>{{WINES[id].appellation}}</p>
			  </div>

			  <div class="item item-body">
			    <form name="ratingform" ng-controller="WineRatingCtrl">
			      <h3>Je note le vin sur 4 : <span class="badge badge-Rouge">{{B[0]}}</h3>
				    <div class="range range-positive">
					  <i class="fa fa-heart-o" id="minus"></i>
					  	<input type="range" name="rating" max="4" min="1" step="1" ng-model="B[0]">
					  <i class="fa fa-heart" id="max" scope="" onload=""></i>
					</div>



					<h3>Mon commentaire libre:</h3>
					<input type="text" name="commentaire" ng-model="B[1]">
				</form>
			   
			  </div>  
		</div>
			
		<div id="validatecontainer">
		    <button class="button button-positive" ng-click="PostComment()">	Je note ce vin !
		    </button>
	  	</div>

	</content>
</nav-page>	