<!-- <div class="container section" ng-repeat="wine in WINES">
        <div class="wine-info col-md-3 span4">
          <a href="#/vinibar/wines/{{$index + 1}}">
            <div class="wine-name">
              <p class="linktoinfo">{{wine.domaine}}<br>
              {{wine.appellation}} - {{wine.millesime}}</p>
            </div>
          </a>
          <a href="#/vinibar/rating/{{$index + 1}}" class="linktorating">
            <div class="wine-rating">
              <p><span class="fui-new linktorating"></span><p>
            </div>
          </a>
        </div>
      </div> -->


 <nav-page title="mytitle" id="Vinify">

   <content has-header="true" has-footer="true" overflow-scroll="true">

            <div class="list card">

              <a ng-repeat="wine in WINES" class="item item-icon-left" href="#/vinibar/wines/{{$index + 1}}">
                <i class="icon ion-wineglass"></i>
                <h3>{{wine.domaine}}</h3>
                <p>{{wine.appellation}} <span class="badge badge-{{wine.couleur}}">{{wine.millesime}}</span></p>

              </a>

            </div>
          
  </content>
</nav-page>